# Project exclude paths
/extensionsTS/Arrowheads.js
/extensionsTS/BalloonLink.js
/extensionsTS/BalloonLinkScript.js
/extensionsTS/Buttons.js
/extensionsTS/CheckBoxesScript.js
/extensionsTS/ColumnResizingScript.js
/extensionsTS/ColumnResizingTool.js
/extensionsTS/CurvedLinkReshapingScript.js
/extensionsTS/CurvedLinkReshapingTool.js
/extensionsTS/DataInspector.js
/extensionsTS/DataInspectorScript.js
/extensionsTS/DimensioningLink.js
/extensionsTS/DimensioningScript.js
/extensionsTS/DoubleTreeLayout.js
/extensionsTS/DragCreatingScript.js
/extensionsTS/DragCreatingTool.js
/extensionsTS/DragZoomingScript.js
/extensionsTS/DragZoomingTool.js
/extensionsTS/DrawCommandHandler.js
/extensionsTS/DrawCommandHandlerScript.js
/extensionsTS/Figures.js
/extensionsTS/FishboneLayout.js
/extensionsTS/FishboneScript.js
/extensionsTS/FloorPlanEditorScript.js
/extensionsTS/FloorPlanMonitorScript.js
/extensionsTS/FreehandDrawingScript.js
/extensionsTS/FreehandDrawingTool.js
/extensionsTS/GeometryReshapingScript.js
/extensionsTS/GeometryReshapingTool.js
/extensionsTS/GuidedDraggingScript.js
/extensionsTS/GuidedDraggingTool.js
/extensionsTS/HyperlinkScript.js
/extensionsTS/HyperlinkText.js
/extensionsTS/LightBoxContextMenu.js
/extensionsTS/LinkLabelDraggingScript.js
/extensionsTS/LinkLabelDraggingTool.js
/extensionsTS/LinkLabelOnPathDraggingScript.js
/extensionsTS/LinkLabelOnPathDraggingTool.js
/extensionsTS/LinkShiftingScript.js
/extensionsTS/LinkShiftingTool.js
/extensionsTS/LocalStorageCommandHandler.js
/extensionsTS/LocalStorageCommandHandlerScript.js
/extensionsTS/NodeLabelDraggingScript.js
/extensionsTS/NodeLabelDraggingTool.js
/extensionsTS/NonRealtimeDraggingScript.js
/extensionsTS/NonRealtimeDraggingTool.js
/extensionsTS/OrthogonalLinkReshapingScript.js
/extensionsTS/OrthogonalLinkReshapingTool.js
/extensionsTS/OverviewResizingScript.js
/extensionsTS/OverviewResizingTool.js
/extensionsTS/PackedLayout.js
/extensionsTS/PackedScript.js
/extensionsTS/ParallelLayout.js
/extensionsTS/ParallelRouteLink.js
/extensionsTS/ParallelRouteScript.js
/extensionsTS/ParallelScript.js
/extensionsTS/PolygonDrawingScript.js
/extensionsTS/PolygonDrawingTool.js
/extensionsTS/PolylineLinkingScript.js
/extensionsTS/PolylineLinkingTool.js
/extensionsTS/PortShiftingScript.js
/extensionsTS/PortShiftingTool.js
/extensionsTS/Quadtree.js
/extensionsTS/RadialLayout.js
/extensionsTS/RadialScript.js
/extensionsTS/RealtimeDragSelectingScript.js
/extensionsTS/RealtimeDragSelectingTool.js
/extensionsTS/ResizeMultipleScript.js
/extensionsTS/ResizeMultipleTool.js
/extensionsTS/Robot.js
/extensionsTS/RobotScript.js
/extensionsTS/RotateMultipleScript.js
/extensionsTS/RotateMultipleTool.js
/extensionsTS/RoundedRectangles.js
/extensionsTS/RowResizingTool.js
/extensionsTS/ScrollingTable.js
/extensionsTS/ScrollingTableScript.js
/extensionsTS/SectorReshapingScript.js
/extensionsTS/SectorReshapingTool.js
/extensionsTS/SerpentineLayout.js
/extensionsTS/SerpentineScript.js
/extensionsTS/SnapLinkReshapingScript.js
/extensionsTS/SnapLinkReshapingTool.js
/extensionsTS/SpiralLayout.js
/extensionsTS/SpiralScript.js
/extensionsTS/TableLayout.js
/extensionsTS/TableScript.js
/extensionsTS/Templates.js
/extensionsTS/TextEditor.js
/extensionsTS/TextEditorRadioButtons.js
/extensionsTS/TextEditorScript.js
/extensionsTS/TextEditorSelectBox.js
/extensionsTS/TreeMapLayout.js
/extensionsTS/TreeMapScript.js
/extensionsTS/ZoomSlider.js
/extensionsTS/ZoomSliderScript.js
/projects/bpmn/BPMNClasses.js
/projects/bpmn/BPMNScript.js
/samplesTS/arrowheadsScript.js
/samplesTS/flowchart.js
/samplesTS/genogramLayout.js
/samplesTS/genogramScript.js
/samplesTS/htmlLightBoxContextMenuScript.js
/samplesTS/minimal.js
/samplesTS/minimalModule.js